@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=IBM+Plex+Sans+Condensed:wght@300;400;500;600;700&family=IBM+Plex+Serif:wght@300;400;500;700&family=IBM+Plex+Mono:wght@300;400&display=swap");
@import "tailwindcss";

@theme {
  --font-serif: "IBM Plex Serif", Georgia, serif;
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

body {
  font-family: var(--font-serif);
  color: var(--color-gray-900);
  line-height: 1.7;
}
